* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



body {
    background-color: #010048; 
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #03002E; /* Dark blue */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.3em;
    text-align: center;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

main {
    flex: 1;
    padding: 20px;
}

.post-card {
    background-color: lightblue;
    border: 10px solid #03002E;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.post-card .username {
    font-weight: bold;
    margin-bottom: 10px;
}

.post-card .post {
    margin-bottom: 10px;
}

.post-card .interactions {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 10px solid #03002E;
    padding-top: 10px;
    a {
        color: #333;
        text-decoration: none;
    }

}

footer {
    background-color: #03002E; /* Dark blue */
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.comments {
    margin-top: 20px;
    color: white;
    text-align: center;
    h2 {
        margin-bottom: 50px;
    }
}

.comment {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.comment p {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.comment .text {
    margin-bottom: 5px;
}

.comment .timestamp {
    font-size: 0.8em;
    color: #666;
}

.comment-form {
    margin-top: 200px;
    text-align: center;
}